{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <div class="container py-5 mb5">
        <div class="col-md-8 order-md-1">
            <h1>Edit Song:</h1><br>
            <form method="post" action="/submitchanges/{{data.data.id}}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="SongName">Song Name:</label><br>
                    <input type="text" value="{{ data.data.SongName }}" name="SongName" class="form-control"/><br/>
                </div>
                <div class="mb-3">
                    <label for="Artist">Artist:</label> <br>
                    <input type="text" value="{{ data.data.Artist }}" name="Artist" class="form-control"/><br/>
                </div>
                <div class="mb-3">
                    <label for="Album">Album:</label> <br>
                    <input type="text" value="{{ data.data.Album }}" name="Album" class="form-control"/><br/>
                </div>
                <div class="mb-3">
                    <label for="YearReleased">Release Year:</label><br>
                    <input type="text" value="{{ data.data.YearReleased }}" name="YearReleased" class="form-control"/><br/>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block"/>
            </form>
        </div>
    </div>

    
{% endblock %}